.headerName{
    border-top: 20px solid #169b9a;
    background-color: white;
}
.cont{
    justify-content: flex-start !important;
}
a{
    text-decoration: none;
    font-weight: bolder;
    margin: 0 34px;
    position: relative;
    top: 25px;
    color: #545454;
}

a:hover{
    color: #169b9a;
}